.tweetbox {
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--twitter-background);
}

.tweetbox > form {
    display: flex;
    flex-direction: column;
}

.tweetbox__input {
    padding: 20px;
    align-items: center;
    display: flex;
}

.tweetbox__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
}

.tweetBox__imageInput {
    border: none;
    padding: 10px;
}

.tweetbox__tweetButton {
    display: flex; /* maybe? */
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    width: 80px;
    margin-top: 20px !important;
    margin-left: auto !important;
}

.tweetbox__widgets {
    display: flex;
    padding: 20px;
    align-items: center;
}

.MuiSvgIcon-fontSizeSmall {
    padding: 20px;
}

.avatar {
    margin-right: 20px;
    width: 60px !important;
    height: 60px !important;
}